<h4 class="comment-head">Conversation:</h4>

<% if @conversation.messages.count > 0 %>
  <div class="all-conversations">
    <% @conversation.messages.each do |message| %>
      <p class="conversation">
        <span class="conversation-content">
          <%= message.body %>
        </span>
      </p>
    <% end %>
  </div>
<% end %>