.users-index-user {
    border:1px solid black;
    width: 20%;
    padding: 30px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position:relative;
}
.requester-name {
    float: left;
    position:absolute;
    left: 5px;
    top: 5px;
}
.confirm-btn {
    float: right;
    position:absolute;
    right: 5px;
    top: auto;
    bottom: auto;

}
.add-friend-btn {
    float: right;
    position:absolute;
    right: 5px;
    top: auto;
    bottom: auto;
}
.send-msg-btn {
    float: right;
    position:absolute;
    right: 5px;
    top: 25px;
    bottom: 25px;
}

